<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277834952374-gid21a2qk56morhr5j69t58s34pjtegp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277834952374-gid21a2qk56morhr5j69t58s34pjtegp</string>
	<key>API_KEY</key>
	<string>AIzaSyDwkFMbLi56q14HfV_veljzE2wcR5Zm_fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>277834952374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BoostCamp.CouponBellClient</string>
	<key>PROJECT_ID</key>
	<string>couponbell-8aa7d</string>
	<key>STORAGE_BUCKET</key>
	<string>couponbell-8aa7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:277834952374:ios:3b1f424ba77cb37e</string>
	<key>DATABASE_URL</key>
	<string>https://couponbell-8aa7d.firebaseio.com</string>
</dict>
</plist>